{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}Profil utilisateur{% endblock %}

{% block breadcrumb %}
    <li class="list-inline-item seprate"><span>/</span></li>
    <li class="list-inline-item">Profil</li>
{% endblock %}

{% block pageName %}Profil utilisateur{% endblock %}

{% block body %}
 <!-- USER DATA-->
<div class="login-wrap mb-5">
    <div class="login-content">
    <!--validation access for url hacking-->
    {% if user.id is same as (app.user.id) or is_granted('ROLE_ADMIN') %}
    {# <p>ok accès permis</p> url user : {{user.id}} / granted user : {{app.user.id}} #}
    
        <h3 class="title-3 m-b-30">
            <i class="zmdi zmdi-account-calendar"></i>{{user.firstname}} {{user.lastname}}</h3>
        <div>
            <ul>
                <li>Nom d'utilisateur : {{user.username}}</li>
                <li>Prénom : {{user.firstname}}</li>
                <li>Nom : {{user.lastname}}</li>
                <li>Email : {{user.email}}</li>
                <li>Adresse : {{user.address}} - {{user.cp}} {{user.town}}</li>
                <li>Téléphone : 0{{user.phone}}</li>
                <li>Solde : {{user.solde  | number_format(2, ',', '')}} €</li>
            </ul>
        </div>
        <div>
            <a href="{{ path('user_edit', {'id': user.id})}}" class="au-btn au-btn--block au-btn--green m-b-20 text-center mt-2">
                <i class="zmdi zmdi-edit mr-2" style="font-size:1.5em;"></i>Modifier le profil</a>
            {% if is_granted ('ROLE_ADMIN') %}
            <a href="{{ path('admin_users')}}"><i class="zmdi zmdi-arrow-left mr-2" style="font-size:1.5em;"></i> Retour au tableau de bord</a>
            {% else %}
            <a href="{{path('user_transactions_show', {'id':user.id})}}"><i class="zmdi zmdi-arrow-left mr-2" style="font-size:1.5em;"></i> Retour au portefeuille</a>
            {% endif %}
        </div>

    <!--error message for url hacking-->
    {% else %}
    <p class="alert alert-warning">Une erreur s'est produite.</p>
    <a href="{{ path('crypto_home')}}"><i class="zmdi zmdi-arrow-left mr-2" style="font-size:1.5em;"></i> Retour à l'accueil</a>
    {% endif %}
    
    </div>
</div>
<!-- END USER DATA-->
{% endblock %}
